.box ,.unBox{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    background: #1A1B1E;
    transition: all 0.3s ease;
}
.unBox{
    left: 100%;
    opacity: 0;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding:32px 20px 32px 20px;
}

.head > img{
    position: absolute;
    left: 15px;
    top: 23px;
    width: 36px;
}

.head > span{
    font-weight: 600;
    font-size: 18px;
    color: #DADCE1;;
}

.body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;

    box-sizing: border-box;
    overflow: scroll;
    gap: 12px;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.profile img{
    width: 64px;
    height: 64px;
}

.nicknameHead , .emailHead{
    font-size: 14px;
    font-weight: 600;
    color: #DADCE1;
}

.nickname , .email{
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
    gap: 12px;
}

.nicknameContent , .emailContent{
    display: flex;
    align-items: center;
    height: 52px;
    min-height: 52px;
    padding: 16px;
    border: 1px solid #373C42;
    border-radius: 10px;
    box-sizing: border-box;
}

.emailContent{
    font-weight: 600;
    font-size: 16px;
    color: #64666D;
    background: #282A2C;
}

.unChanged, .submit{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    background: #173D53;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #1A1B1E;
}

.submit{
    color: #1A1B1E;
    background: #48BAFB;
}

.nicknameContent > input{
    all: unset;
    width: calc(100% - 30px);
    color: #DADCE1;
    font-weight: 500;
}
