.box ,.unBox{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateX(0);
    /*left: 0;*/
    opacity: 1;
    background: #1A1B1E;
    transition: all 0.3s ease;
}
.unBox{
    transform: translateX(100%);
    /*left: 100%;*/
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding:32px 20px 32px 20px;
}

.head > img{
    position: absolute;
    left: 15px;
    top: 23px;
    width: 36px;
}

.head > span{
    font-weight: 600;
    font-size: 18px;
    color: #DADCE1;;
}

.body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;

    box-sizing: border-box;
    overflow: scroll;
    gap: 12px;
}

.h1{
    margin-bottom: 36px;
    font-weight: 600;
    font-size: 18px;
    color: #DADCE1;
}

.h2{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
    color: #DADCE1;
}

.h3{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 14px;
    color: #8B92A0;
    gap: 16px;
}

.h3 > div{
    display: flex;
    gap: 8px;
}

.h3 label{
    max-width: 60%;
}

.h4{
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    font-size: 14px;
    font-weight: 600;
    gap: 12px;
}

.selectBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 52px;
    padding: 0 16px;
    border: 1px solid #373C42;
    border-radius: 10px;
    box-sizing: border-box;
}

.selectBox > span{
    font-size: 16px;
    color: #64666D;
}

.selectBox > img{
    width: 32px;
    transform: rotate(-90deg);
}

.btn{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 52px;
    border-radius: 10px;
    font-weight: 600;

}

.noSelect{
    background: #173D53;
    color: #1A1B1E;
}

.submitBtn{
    background: #48BAFB;
    color: #1A1B1E;
    transition: all 0.1s linear;
}

.submitBtn:active{
    background: #1B6088;
}

.cancelBtn{
    background: #43464F;
    color: #E4E5E7;
    transition: all 0.1s linear;
}

.cancelBtn:active{
    background: #323439;
}
