body{
    background: rgba(26, 27, 30, 1);
    color: #E4E5E7;
    margin: 0;
}


:root {
    --vh: 100%;
    --vw: 100%;
}

*{
    -webkit-tap-highlight-color : rgba(0,0,0,0);
    font-family: "Pretendard";
}

.react-swipeable-view-container{
    height: fit-content;
    max-height: fit-content;
    pointer-events: none !important;
}

.react-swipeable-view-container > div{
    height: fit-content;
    max-height: fit-content;
}
