body{
    background: rgba(26, 27, 30, 1);
    color: #E4E5E7;
    margin: 0;
    max-width: 450px;
    width: 100%;
    background: rgb(42, 44, 49);
    position: fixed;
}


.App {
    background: rgba(26, 27, 30, 1);
}


:root {
    display: flex;
    justify-content: center;
    --vh: 100%;
    --vw: 100%;
    background: rgba(26, 27, 30, 1);
    /*transform: translate3d(0, 0, 0);*/
}

*{
    /*transform: translate3d(0, 0, 0);*/
    -webkit-tap-highlight-color : rgba(0,0,0,0);
    font-family: "Pretendard";
}

.react-swipeable-view-container{
    height: fit-content;
    max-height: fit-content;
    pointer-events: none !important;
}

.react-swipeable-view-container > div{
    height: fit-content;
    max-height: fit-content;
}


::-webkit-scrollbar {
    width: 3px;
    background-color: #1A1B1E;
    border-radius: 10px;
    right: 10px;
    transition: opacity 0.5s ease-in-out;
    /*margin-right: 4px;*/
}

/* 수직 스크롤바 thumb(스크롤바 핸들)에 대한 스타일 설정 */
::-webkit-scrollbar-thumb {
    background-color: #929292;
    border-radius: 5px;
    /*margin-right: 4px;*/
    right: 10px;

}

/* 수평 스크롤바 전체에 대한 스타일 설정 */
::-webkit-scrollbar {
    height: 0px;
    background-color: none;
    border-radius: 5px;
    margin-right: 4px;
    right: 10px;

}

/* 수평 스크롤바 thumb에 대한 스타일 설정 */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
    right: 10px;

}
