.box{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 32px;
    height: 32px;
    margin: 18px 20px;
    box-sizing: border-box;
    /*padding-top: env(safe-area-inset-top);*/
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}


.body{
    display: flex;
    flex-direction: column;
    height: calc(var(--vh, 1vh) * 100 - 131px);
    min-height: calc(var(--vh, 1vh) * 100 - 131px);
    max-height: calc(var(--vh, 1vh) * 100 - 131px);
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
}

.footer{
    min-height: 63px;
    height: 63px;
    box-sizing: border-box;
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}
