.box{
    display: flex;
    align-items: center;
    height: 52px;
    min-height: 52px;
    max-height: 52px;
    margin: 0 20px;
    color: #E4E5E7;
    background: #212225;
    border-bottom: 1px solid #26282C;
    gap: 8px;
    transition: all 0.2s linear;
}

.box.active{
    color: #48BAFB;
    transition: all 0.2s linear;
}

.box > img{
    width: 20px;
    height: 20px;
}

.box > span{
    font-size: 14px;
    font-weight: 500;
}

