.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /*padding: 16px 12px;*/
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search img{
    width: 32px;
}
